.menu {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;         /* garante que o submenu apareça por cima do conteúdo da página */
    z-index: 999;
}

.dropdown-menu {
    display: flex;
    gap: 2px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.dropdown-menu li {
    width: 175px;
    height: 50px;

    border-radius: 5px;

    list-style: none;

    /*background-color: orange;*/
}

.dropdown-menu > li:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.dropdown-menu a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    color: white;
    font-size: 1em;
    text-decoration: none;

    background-color: transparent;
    transition: all 0.2s linear;
}

.dropdown-menu li:hover > .dropdown-submenu {
    display: block;
}

.dropdown-submenu li:hover a{
    background-color: rgb(255, 151, 39);
}

.dropdown-submenu li {
    width: 100%;
}

.dropdown-submenu {
    margin-top: 0px;
    display: none;
}

.dropdown-submenu li {
    border-radius: 5px;
}

.dropdown-submenu a {
    display: flex;
    justify-content: center; /* 'flex-start' para colar no início */

    /*border-left: 8px solid transparent;*/
    /*padding-left: 15px;*/
    width: 100%;
    height: 100%;

    font-size: 1em;

    background-color: rgba(177, 42, 255, 0.8);
}

/*.dropdown-submenu li:hover {
    border-left: 8px solid black;
}*/